@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/*
-------------------------
| body css
-------------------------*/
body {
    padding:50px 0;
    border:30px solid #fff;
    background: #f1f1f1;
    font-family: 'Roboto Slab', serif;
}


/*
-------------------------
| wraper css
-------------------------*/
#wraper{
    padding:0;
    background: #fff;
    border-radius: 5px;
}


/*
-------------------------
| main css
-------------------------*/
.main{
    padding:15px;
}


/*
-------------------------
| border css
-------------------------*/
.border{
    padding:15px;
    border:1px solid #e0e0e0;
}


/*
-------------------------
| article-list css
-------------------------*/
.article-list{}
.article-list .media:first-child {
    margin-top:0;
}
.article-list .media {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-top:10px;
}
.article-list .media .media-left{
}
.article-list .media .media-left .img-box {
    width: 170px;
    position: relative;
    height: 115px;
    background: #f1f1f1;
    overflow: hidden;
}
.article-list .media .media-left img {
    position: absolute;
    width: 140%;
    left: -20%;
}
.article-list .media .media-heading{
    font-size:16px;
    margin-bottom:15px;
}
.article-list .media .time {
    display: block;
    padding-top: 10px;
}
.article-list .media p {
    font-size: 13px;
    margin-bottom: 15px;
    color: #6b6b6b;
}


/*
-------------------------
| header css
-------------------------*/
header.navbar{
    margin:0;
    background: #fff;
}


/*
-------------------------
| banner css
-------------------------*/
.banner {
    background: #073E93;
    width: 100%;
    padding: 30px;
    color: #fff;
}


/*
-------------------------
| btn css
-------------------------*/
.btn-info {
    background-color: #073E93;
    border-color: #073E93;
}
.btn-info:hover {
    background-color: #005FEE;
    border-color: #005FEE;
}


/*
-------------------------
| heading css
-------------------------*/
.heading {
    margin: 0 0 15px 0;
    background: #f1f1f1;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
}
.heading a{
    color: #073E93;
}

.heading span{

}
.heading .fa-angle-right{
    padding-left:10px;
    padding-right:5px;
}


/*
-------------------------
| category-list css
-------------------------*/
.category-list{
    margin:0;
    padding:0 0 0 5px;
    list-style-type: none;
}
.category-list li{}
.category-list li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px dashed #bbb;
    margin-bottom: 5px;
}
.category-list li:last-child a {
    border-bottom: none;
}
.category-list li.active a,
.category-list li a:hover{color:#073E93}


/*
-------------------------
| Latest-list css
-------------------------*/
.latest-list{}
.latest-list .media {
    padding-bottom: 10px;
    border-bottom: 1px dashed #bbb;
    margin-bottom: 10px;
    margin-top: 0;
}
.latest-list .media .media-object{
    width:100px;
}
.latest-list .media .media-heading{}
.latest-list .media .media-heading a{
    color: #000;
    text-decoration: none;
    font-size:14px;
    display: block;
}
.latest-list .media .media-heading a:hover{color:#073E93}
.latest-list .media:last-child{
    border-bottom: none;
}


/*
-------------------------
| details css
-------------------------*/
.details{}
.details article{}
.details article img{
    width:100%;
    margin-bottom:15px;
}
.details article h1{
    font-size: 30px;
    margin:0;
    padding-bottom:10px;
    border-bottom:1px solid #eee;
    margin-bottom:10px;
}
.details article p{
    font-size: 16px;
}
.details article .details-time{
    margin-bottom:15px;
}



/*
-------------------------
| related css
-------------------------*/
.related{
    margin-top:30px;
}


/*
-------------------------
| about css
-------------------------*/
.about{}
.about p{
    font-size: 16px;
}


/*
-------------------------
| social css
-------------------------*/
.social{}
.social a {
    color: #fff;
    height: 31px;
    width: 34px;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
}
.social a:hover{
    color: #073E93;
    background: #fff;
}


/*
-------------------------
| network css
-------------------------*/
#network{margin-bottom:10px;}
#network a {
    color: #fff;
    padding: 0 10px 0 0;
    font-size: 12px;
    display: inline-block;
}
#network a i.fa {
    padding: 8px 10px;
    background: rgba(0,0,0,0.3);
    display: inline-block;
    margin-right: 5px;
    font-size: 10px;
}
#network a.facebook{background:#3A5A99;}
#network a.twitter{background:#30A9D6;}
#network a.pinterest{background:#BD081C;}
#network a.linkedin{background:#0077B5;}
#network a.paper-plane{background:#EB4924;}
#network a.print {background: #404040;}
#network a:hover{opacity:0.8;}


/*
-------------------------
| pagination css
-------------------------*/
#pagination a {
    color: #073E93;
    border-radius: 0;
}
#pagination a:hover {
    background: #005FEE;
    color: #fff;
    border: 1px solid #005FEE;
}
#pagination a.active {
    color: #fff;
    background: #073E93;
    border: 1px solid #073E93;
}


/*
-------------------------
| __404_not_found css
-------------------------*/
.__404_not_found{
    text-align: center;
    height:40vh;
}
.__404_not_found form{}
.__404_not_found form .input-group {
    border: 8px solid #eee;
    margin-bottom:30px;
}
.__404_not_found form .input-group input{}


/*
-------------------------
| search_heading css
-------------------------*/
.search_heading {
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-bottom: 15px;
    background-color: #eee;
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}
.search_heading span {
    background: #073E93;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 10px;
    margin-right: 15px;
}
.search_heading span::before {
    width: 0;
    height: 100%;
    border-style: solid;
    border-width: 0 0 42px 15px;
    border-color: transparent transparent transparent #073E93;
    content: "";
    position: absolute;
    right: -14px;
    top: 0;
}
.search_heading strong{
    color: #073E93;
    text-transform: capitalize;
}
.search_heading strong a{
    color: #073E93;
    text-transform: capitalize;
}
.search_heading a{
    color:#fff;
}

@-webkit-keyframes color_change {
    from { background-color: #fff; }
    to { background-color: rgb(215, 231, 255); }
}
@-moz-keyframes color_change {
    from { background-color: #fff; }
    to { background-color: rgb(215, 231, 255); }
}
@-ms-keyframes color_change {
    from { background-color: #fff; }
    to { background-color: rgb(215, 231, 255); }
}
@-o-keyframes color_change {
    from { background-color: #fff; }
    to { background-color: rgb(215, 231, 255); }
}
@keyframes color_change {
    from { background-color: #fff; }
    to { background-color: rgb(215, 231, 255); }
}


/*
-------------------------
| footer css
-------------------------*/
footer {
    padding: 15px;
    border-top: 1px solid #e0e0e0;
}
footer p{
    margin:0;
}
footer a{
    color: #005FEE;
}


/*
-------------------------
| error messgae css for form
-------------------------*/
.errorMsg {
    color: red;
    display: block;
    font-weight:bold;
}
.successMsg {
    color: #fff;
    border:1px solid green;
    padding:15px;
    background: green;
    margin-bottom:15px;
}